<html>
	<head>
		<title> {{ board }} on {{ name }} </title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
	<body>
		<div id="sideBar">
			<form action="/createThread" method="POST" enctype="multipart/form-data">
				<input type="text" name="title" placeholder="Title"/>
				<input type="hidden" name="board" value="{{ boardTag }}">
				<textarea name="body" placeholder="Type your post here"></textarea>
				<input type="file" name="file"/>
				<input type="submit" value="Create Thread"/>
			</form>

			<div id="boardList">
			{% for boardName in boardList %}
				<a href="/{{ boardName }}" class="boardLink">
					<img src="/static/boardThumbnails/{{ boardName }}.png"/>
					{{ boardList[boardName]['name'] }}
				</a>
			{% end %}
			</div>
		</div>
		<div id="catalog">
			<h1> {{ board }} </h1>
			{% for thread in threadList %}
				<a href="/thread/{{ thread.doc_id }}">
				<div id="{{ thread.doc_id }}" class="thread">
					<img src="/thumbnails/{{ thread['file'] }}"/>
					<span class="threadTitle"> {{ thread['title'] }} </span>
					<span class="threadText"> {{ thread['text'] }} </span>
				</div>
				</a>
			{% end %}
		</div>
	</body>	
</html>
